$base-color: rgb(106, 0, 255);
$border-dark: rgba($base-color, 0.88);

$header-height: 60px;

$correct-color: green;
$partial-color: yellow;
$hold-color: blue;
$incorrect-color: red;
$unscored-color: gray;

$bg-color-gray: rgb(127, 127, 127);
